html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-weight: 300;
}
​img {
  max-width: 100%;
  display: block;
  height: auto;
}
/* BACKGROUND START */
body {
  position: relative;
}
/* BACKGROUND END */
.shop-container {
  position: relative;
}
.glass {
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 0.8rem 3.2rem 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur( .4rem );
  -webkit-backdrop-filter: blur( .4rem );
  border: .1rem solid rgba( 255, 255, 255, 0.18 );
}
.glass-m {
  background: rgba( 255, 255, 255, 0.4 );
}
/* ANIMATION START */
.grid-bg{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ba-grid{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  
  background-image: 
/*     radial-gradient(ellipse at center, #2883b6 0%, #084688 100%), */
    radial-gradient(ellipse at bottom left, rgba(104,128,138,0.4) 10%, rgba(138,114,76,0) 40%),
    linear-gradient(to bottom, rgba(57,173,219,.25), rgba(42,60,87,0.4)),
    linear-gradient(135deg, #670d10, #092756);
}


.ba-grid:before,
.ba-grid:after,
.inner:before,
.inner:after{
  content:'';
  position: absolute;
  z-index: 1;
  top:0;
  bottom:0;
  left:0;
  right:0;
  mix-blend-mode: overlay;
}

.inner:before,
.inner:after{
  background-image: radial-gradient(#ccc .2rem, transparent .2rem);
  background-size: calc(30px* 4) calc(30px * 4);
  background-position: calc(calc(30px* 4) / 2) calc(calc(30px * 4) / 2);  

}

.inner:after{
  
  transform: scale(1.1, 1.1);
}

.inner:before{
/*   background-image: radial-gradient(#ccc calc(.2rem + 1px), transparent calc(.2rem + 1px)); */
  transform: scale(1.2, 1.2);
}

.anim:after{
  animation: 6.4s linear move infinite;
}

.anim .inner:after{
  animation: 3.2s linear move infinite;
}

.anim .inner:before{
  animation: 1.6s linear move infinite;
}

@keyframes move{
  0%{
    background-position:calc(calc(30px* 4) / 2) calc(calc(30px * 4) / 2);
  }
  100%{
    background-position:calc(calc(30px* 4) / 2) calc(calc(30px * 4) / 2 * -1);
  }
}
/* ANIMATION END */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background-color: transparent;
}
button:hover {
  cursor: pointer;
}
input:focus,
input:active,
button:active,
button:focus {
  outline: none;
}
/* ANIMATION START */

/* ANIMATION END */
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 999999;
}
.main {
  /* background-color: rgba(239, 177, 128, .2); */
}
.bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  padding: 0 1.5rem;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}
.section {
  text-align: center;
}
/* LOGO HOVER START */
.logo__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.logo {
  position: relative;
  overflow: hidden;
}
.logo::after {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  content: attr(data-text);
  height: 100%;
  top: 0;
  background: none;
  font-size: 4rem;
  font-family: var(--title-font);
  transform-origin: 100% 50%;
  transform: translate3d(150%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
  /* color: var(--sub-text-color); */
}
.logo:hover::after {
  transform: translate3d(0, 0, 0);
}
.logo span {
  display: inline-block;
  font-size: 4rem;
  font-family: var(--title-font);
  transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
  /* color: var(--sub-text-color); */
}
.logo:hover span {
  transform: translate3d(-150%, 0, 0);
}

/* LOGO HOVER END */

.title {
  font-family: var(--title-font);
  /* color: var(--third-brand-color); */
  text-transform: uppercase;
  font-size: 3rem;
}
.sub-title {
  font-family: var(--title-font);
  font-size: 2rem;
}
.text {
   font-size: 1.8rem;
}
.img {
    width: 100%;
    display: block;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
}
.btn {
  color:var(--first-brand-color);
  border: .4rem solid var(--first-brand-color);
  background-color: transparent;
  cursor: pointer;
  font-size:1.8rem;
  line-height: 4.5rem;
  margin: 0;
  font-family: var(--title-font);
  max-width: 12rem; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
  transition:all .2s ease-in-out;
  border-radius: 1rem;
} 
.bold {
  text-decoration: underline;
}
.item:not(:last-child) {
 
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 3rem;
  }
 .sub-title {
  font-size: 3rem;
 }

 .btn:hover {
  transform: scale(1.3);
 }
}
