:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #724e8f;
  --second-brand-color: #355c99;
  --third-brand-color: #573648;

  --main-font: 'Montserrat';
  --title-font: 'Montserrat Bold';

  font-size: 62.5%;
}
